<style>
    .form-columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
</style>
<!-- Modal content -->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editEquipmentModalLabel">Detalles del equipo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Add your form fields and buttons here for editing the equipment -->
            <form id="equipmentForm" method="post"
                action="{% if equipment.id %}{% url 'cms:equipment_details' equipment.id  %}{% else %}{% url 'cms:equipment_details' %}{% endif %}">
                {% csrf_token %}
                <div class="form-columns">
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary">Guardar cambios</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>