{% extends "cms/base_dashboard2.html" %}
{% load static %}

{% block content %}
<!-- main content -->
{% if user.is_authenticated %}
    {{ group.name }}
<div class="row">
    <div class="col-md-5 grid-margin transparent">
        <div class="card-people mt-auto">
            <img src="{% static 'images/beikhel/foto1.png' %}" alt="people">
        </div>
    </div>
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4">Reguistros de la semana</p>
                        <p class="fs-30 mb-2">4006</p>
                        <p>10.00% (30 días)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Registros totales</p>
                        <p class="fs-30 mb-2">61344</p>
                        <p>22.00% (30 días)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4">Numero de citas</p>
                        <p class="fs-30 mb-2">34040</p>
                        <p>2.00% (30 días)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4">Número de clientes</p>
                        <p class="fs-30 mb-2">47033</p>
                        <p>0.22% (30 días)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Equipos medicos</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="equipos" class="display expandable-table" style="width:100%"
                                data-url="{% url 'cms:equipment_data' %}" data-processing="true"
                                data-server-side="true">
                                <thead>
                                    <tr>
                                        <th>#Id</th>
                                        <th>Equipo</th>
                                        <th>Marca</th>
                                        <th>Modelo</th>
                                        <th>Numero de serie</th>
                                        <th>Fecha de ultimo servicio</th>
                                        <th>Fecha de proximo mantenimiento</th>
                                        <th>Estado</th>
                                        <th>Area</th>
                                        <th>Sub area</th>
                                        <th>Encargado</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<p>Please log in to access this page.</p>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/cms/child_dashboard.js' %}"></script>
{% endblock %}